body {
  background-color: #301453;
  color: white;
}

.primary-btn {
  width: 135px;
  height: 44px;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  border: none;
  background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
  color: white;
}
.navbar {
  background-color: #301453;
}
.logo {
  background: linear-gradient(
    45deg,
    #f7e93f 16.53%,
    #fb09b4 49.82%,
    #9100f8 81.65%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar li a {
  color: white;
}

.navbar a {
  color: white;
}
.banner-section {
  position: relative;
}
.bg-img img {
  width: 100%;
  height: 760px;
}
.mic-container {
  position: absolute;
  top: 50px;
  left: 510px;
  background: transparent;
}
.mic-img {
  width: 350px;
  height: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 8px solid #301453;
  background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
}
.mic-img img {
  width: 120px;
  height: 175px;
  background: transparent;
}
.badge {
  position: absolute;
  top: 5px;
  right: 50px;
  width: 75px;
  height: 36px;
  background-color: #00ff88;
  font-size: 18px !important;
}
.banner-info {
  text-align: center;
  position: absolute;
  top: 400px;
  right: 400px;
  color: white;
}
.banner-info h2 {
  font-size: 60px;
  font-weight: bolder;
  margin-bottom: 18px;
}
.banner-info p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.616);
  margin-bottom: 28px;
}
.sec-btn {
  width: 147px;
  border: 2px solid #00ff88;
  background: transparent;
}
